:root {
  --white: #e9f1df;
  --hair: #b8e8fc;
  --background: #ff8dc7;
  --horn: #f5a606;
  --horn-secondary: #eb8700;
  --light-pink: #ffacc7;
  --dark-grey: #404258;
  --light-grey: #b2b2b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.unicorn__container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
}
.unicorn__horn {
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-top: 100px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 100px solid var(--horn);
}
.unicorn__head {
  width: 150px;
  height: 80px;
  background-color: var(--white);
  position: relative;
  border-radius: 0 30px 30px 0;
}

.unicorn__eye {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--dark-grey);
  position: absolute;
  left: 50px;
  top: 10px;
}
.unicorn__cheeks {
  width: 20px;
  height: 8px;
  border-radius: 50px;
  background-color: var(--light-pink);
  position: absolute;
  left: 50px;
  top: 40px;
}
.unicorn__nose {
  width: 8px;
  height: 5px;
  border-radius: 0 0 50px 50px;
  background-color: var(--light-grey);
  position: absolute;
  left: 120px;
  top: 25px;
}
.unicorn__nose::after {
  content: "";
  width: 8px;
  height: 5px;
  border-radius: 0 0 50px 50px;
  background-color: var(--light-grey);
  position: absolute;
  left: 12px;
}
.unicorn__mouth {
  width: 25px;
  height: 15px;
  background-color: var(--dark-grey);
  position: absolute;
  left: 110px;
  top: 45px;
  border-radius: 0 0 50px 50px;
}
.unicorn__mouth::after {
  content: "";
  width: 15px;
  height: 10px;
  background-color: var(--white);
  position: absolute;
  left: 5px;
  border-radius: 0 0 50px 50px;
}
.unicorn__ears {
  width: 25px;
  height: 40px;
  background-color: var(--white);
  border-radius: 50px 0 0 0;
  position: absolute;
  top: -40px;
}
.unicorn__ears::after {
  content: "";
  width: 25px;
  height: 40px;
  background-color: var(--light-grey);
  border-radius: 50px 0 0 0;
  position: absolute;
  left: 25px;
}

.unicorn__neck {
  width: 60px;
  height: 200px;
  background-color: var(--white);
  position: absolute;
  bottom: calc(50% - 240px);
  border-radius: 0 0 30px 0;
}
.unicorn__body {
  width: 150px;
  height: 130px;
  background-color: var(--white);
  position: absolute;
  bottom: calc(50% - 240px);
  left: calc(50% - 200px);
  border-radius: 30px;
}
.unicorn__hair {
  width: 40px;
  height: 170px;
  background-color: var(--hair);
  position: absolute;
  right: 150px;
  border-radius: 50px 0 0 0;
  top: -20px;
}
.unicorn__hair-end {
  width: 40px;
  height: 40px;
  background-color: var(--hair);
  position: absolute;
  right: 150px;
  border-radius: 0 0 0 50px;
  position: absolute;
  top: 135px;
  left: -20px;
}
.unicorn__hair-end::after {
  content: "";
  width: 40px;
  height: 40px;
  background-color: var(--hair);
  position: absolute;
  right: 150px;
  border-radius: 0 0 50px 50px;
  position: absolute;
  top: 30px;
  left: 40px;
  z-index: 999;
}
.unicorn__fringe {
  width: 20px;
  height: 20px;
  background-color: var(--hair);
  position: absolute;
  right: 150px;
  border-radius: 0 50px 0 0;
  position: absolute;
  left: 65px;
}

.unicorn__tail {
  width: 40px;
  height: 100px;
  background-color: var(--hair);
  position: absolute;
  right: 275px;
  border-radius: 50px 0 0 0;
  top: 175px;
}
.unicorn__tail::after {
  content: "";
  width: 20px;
  height: 170px;
  background-color: var(--background);
  position: absolute;

  border-radius: 50px 0 0 0;
  left: 20px;
  top: 10px;
  z-index: 999;
}
.unicorn__tail-end {
  width: 40px;
  height: 40px;
  background-color: var(--hair);
  position: absolute;
  right: 150px;
  border-radius: 5px 0 20px 50px;
  position: absolute;
  top: 100px;
  right: 20px;
  z-index: 999;
}
.unicorn__legs {
  width: 20px;
  height: 90px;
  background-color: var(--white);
  position: absolute;
  left: 10px;
  top: 280px;
}
.unicorn__legs::after {
  content: "";
  width: 20px;
  height: 90px;
  background-color: var(--white);
  position: absolute;
  right: 110px;
}
.unicorn__hoof {
  width: 25px;
  height: 20px;
  background: #b1affb;
  border-radius: 0 10px 0 0;
  position: absolute;
  top: 360px;
  left: 10px;
}
.unicorn__hoof::after {
  content: "";
  width: 25px;
  height: 20px;
  background: #b1affb;
  border-radius: 0 10px 0 0;
  position: absolute;
  right: 110px;
}
.grass {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
}
.grass__item {
  width: 70px;
  height: 39vh;
  background-color: #c5d8a4;
  border-radius: 30px 3 0px 0 0;
  /*  position: absolute; */
  z-index: 900;
}
