:root {
  --background: #1f2c3c;
  --blue: #1d5f87;
  --light-blue: #91ecf0;
  --yellow: #f9b623;
  --orange: #f78e23;
  --red: #de4f50;
  --silver: #c0c0c0;
  --gray: #808080;
  --lightgray: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.space-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}
.space {
  position: relative;
  width: 450px;
  height: 450px;
  background-color: transparent;
}
/******* MOON *******/

.moon {
  position: absolute;
  width: 450px;
  height: 450px;
  background-color: var(--orange);
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}
.moon::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 410px;
  height: 410px;
  background-color: var(--yellow);
  border-radius: 50%;
  overflow: hidden;
}

.crater__large {
  position: absolute;
  bottom: 130px;
  right: 90px;
  width: 120px;
  height: 120px;
  border-radius: 80px;
  background-color: var(--orange);
  box-shadow: -1px -1px 7px 0px #e6821e inset;
  z-index: 2;
}
.crater__large::after {
  content: "";
  position: absolute;
  bottom: -120px;
  right: 30px;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: var(--orange);
  box-shadow: -1px -1px 7px 0px #e6821e inset;
  z-index: 2;
}
.crater__large::before {
  content: "";
  position: absolute;
  bottom: 180px;
  right: 270px;
  width: 60px;
  height: 60px;
  border-radius: 80px;
  background-color: var(--orange);
  z-index: 2;
}

.crater__medium {
  position: absolute;
  top: 40px;
  right: 110px;
  width: 90px;
  height: 90px;
  border-radius: 80px;
  background-color: var(--orange);
  z-index: 2;
}
.crater__medium::before {
  content: "";
  position: absolute;
  top: 190px;
  left: -200px;
  width: 90px;
  height: 90px;
  border-radius: 80px;
  background-color: var(--orange);
  box-shadow: -1px -1px 7px 0px #e6821e inset;
  z-index: 2;
}
.crater__medium::after {
  content: "";
  position: absolute;
  top: 40px;
  right: 110px;
  width: 90px;
  height: 90px;
  border-radius: 80px;
  background-color: var(--orange);
  box-shadow: -1px -1px 7px 0px #e6821e inset;
  z-index: 2;
}

.crater__small {
  position: absolute;
  top: 160px;
  right: 110px;
  width: 20px;
  height: 20px;
  border-radius: 80px;
  background-color: var(--orange);
  box-shadow: -1px -1px 7px 0px #e6821e inset;
  z-index: 2;
}
.crater__small::before {
  content: "";
  position: absolute;
  top: 40px;
  left: -200px;
  width: 20px;
  height: 20px;
  border-radius: 80px;
  background-color: var(--orange);
  box-shadow: -1px -1px 7px 0px #e6821e inset;
  z-index: 2;
}
.crater__small::after {
  content: "";
  position: absolute;
  top: -110px;
  right: 110px;
  width: 20px;
  height: 20px;
  border-radius: 80px;
  background-color: var(--orange);
  box-shadow: -1px -1px 7px 0px #e6821e inset;
  z-index: 1;
}

/***** PLANETS ******/
.planet {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border: solid 12px #a1cc52;
  border-radius: 100px;
  background-color: #fafffd;
  overflow: hidden;
}
.planet::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 5px;
  width: 132px;
  height: 132px;
  border-radius: 80px;
  background-color: #a1cc52;
  overflow: hidden;
}

.planet-2 {
  position: absolute;
  bottom: -80px;
  right: -210px;
  width: 120px;
  height: 120px;
  border: solid 12px #92ecf0;
  border-radius: 100px;
  background-color: #fafffd;
  overflow: hidden;
}
.planet-2::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 132px;
  height: 132px;
  border-radius: 80px;
  background-color: #92ecf0;
  overflow: hidden;
}

/******  ROCKET *****/
.flap-left {
  position: absolute;
  top: 80%;
  left: -50px;
  height: 60px;
  width: 60px;
  background-color: var(--lightgray);
  border-radius: 50px 5px 0 100px;
}
.flap-left::after {
  content: "";
  position: absolute;
  top: 69%;
  left: 41px;
  height: 70px;
  width: 20px;
  background-color: var(--background);
  border-radius: 50px 5px 0 0;
}
.flap-right {
  position: absolute;
  top: 80%;
  left: -50px;
  height: 60px;
  width: 60px;
  background-color: var(--lightgray);
  border-radius: 50px 5px 0 100px;
  transform: scaleX(-1);
}
.flap-right::after {
  content: "";
  position: absolute;
  top: 69%;
  left: 41px;
  height: 70px;
  width: 20px;
  background-color: var(--background);
  border-radius: 50px 5px 0 0;
}
.rocket {
  position: absolute;
  top: 360px;
  right: 200px;
  z-index: 1;
  transform: rotate(45deg);
  .rocket-body {
    height: 170px;
    width: 80px;
    background: linear-gradient(
      to right,
      #257e8b 0%,
      #257e8b 50%,
      #155359 50%,
      #155359 100%
    );
    border-radius: 100% 100% 30% 30%;
  }
  .rocket-inner {
    position: absolute;
    height: 100px;
    width: 60px;
    background: linear-gradient(
      to right,
      #35a7c7 0%,
      #35a7c7 50%,
      #247a89 50%,
      #247a89 100%
    );
    border-radius: 50px 50px 0 0;
    z-index: 5;
  }
}
